<nav class="navbar navbar-expand-lg navbar-light bg-light full-width-section">
  <div class="container row">
    <div class="navbar-brand col-3">
      <a href="/" class="navbar-item">CommerceX <span> Platforms</span></a>
    </div>
    <form class="form-inline my-2 my-lg-0 ml-auto col-6">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>

    <div class="account col-3">
      <a href="#" aria-label="User Account" title="User Account">
        <i class="fa-regular fa-circle-user"></i>
      </a>
      <a href="#" aria-label="Shopping Cart" title="Shopping Cart">
        <i class="fa-solid fa-cart-shopping fa-lg">
          <span class="cart-count">1</span>
        </i></a
      >
    </div>
  </div>
</nav>
