<nav class="navbar navbar-expand-lg navbar-light bg-light full-width-section">
  <div class="container row">
    <div class="navbar-brand col-3">
      <a routerLink="/" class="navbar-item">CommerceX <span> Platforms</span></a>
    </div>
    <form class="search-form col-6" (submit)="onSearch($event)">
      <i class="fa-solid fa-magnifying-glass search-icon"></i>
      <input
        class="form-control"
        type="search"
        placeholder="Search products..."
        aria-label="Search"
        [(ngModel)]="searchQuery"
        name="search"
      />
    </form>

    <div class="account col-3">
      <a routerLink="/account" aria-label="User account">
        <i class="fa-regular fa-circle-user"></i>
      </a>
      <a routerLink="/cart" [attr.aria-label]="'Shopping cart with ' + cartCount + ' items'">
        <i class="fa-solid fa-cart-shopping fa-lg">
          <span class="cart-count">{{ cartCount }}</span>
        </i>
      </a>
    </div>
  </div>
</nav>
